form {
  input {
    width: 80%;
    padding: 13px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid rgb(200, 201, 206);
    font-size: 14px;
    font-weight: 500;
  }
  input[type="text"] {
    &:focus {
      transition: 0.6s;
      outline: none;
      border-color: #008cba;
    }
  }
}
